body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #8b4b4b;
}
input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(0, 128, 0, 0.5), rgba(0, 0, 255, 0.5));
    
}
button {
    background: linear-gradient(to left, red 20%, green 50%, blue 80%);

}
#result {
    margin-top: 20px;
    font-size: 18px;
}
label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}