body {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc;
    margin: 0 auto;
    padding: 0;

}

header {
    padding: 20px;
    text-align: center;
    background-color: #8b4513;
    color: #fff;
}

header h1::before {
    content: "🫠 ";
    color: #fdfd96;
    font-size: 1.5em;
    margin-right: 10px;
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 20px auto;
    padding: 10px;
    gap: 15px;
}

section {
    flex: 2;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section img {
    border-radius: 50%;
    display: block;
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

h2 {
    color: #8b4513;
    border-bottom: 2px solid #8b4513;
    padding-bottom: 5px;
}

h2::before {
    content: "★ ";
    color: #ff6347;
}

.skills ul {
    padding-left: 20px;
}

.skills li {
    margin-bottom: 5px;
}

.skills li a {
    color: #8b4513;
    text-decoration: none;
    transition: color 0.3s ease;
}

.skills li a:hover {
    color: #ff6347;
}

aside {
    flex: 1;
    background-color: #fffaf0;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

aside h3 {
    color: #8b4513;
}

aside h3::before {
    content: "⮞ ";
    color: #ffa500;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside li {
    margin-bottom: 8px;
}

.label {
    font-weight: bold;
    color: #6b4226;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    background-color: #ddd;
    color: #333;
    margin-top: 20px;
}

footer p::before {
    content: "© ";
    color: #333;
    font-weight: bold;
}